/*----------------------TIPOGRAFÃA----------------------*/
@font-face {
    font-family: Butler;
    src: url(../fuentes/Butler_Regular.otf);
}

@font-face {
    font-family: NarzissProCyrillic;
    src: url(../fuentes/NarzissProCyrillic-Medium.ttf);
}

/*----------------------GENERAL----------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Butler;
}

main {
    background: #44b499;
}

h1{
    font-family: NarzissProCyrillic;
}

/*----------------------NAV----------------------*/
nav > a{
    transition: 0.5s;
    color: white;
}

.solid{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.5s;
}

nav {
    background: #44b49a;
}

.navbar-expand-lg{
    padding-top: 0;
    padding-bottom: 3px;
}

header nav {
    transition: 0.5s;
}

header nav.off{
   transform: translateY(-300px);
}

header nav.solid{
    background-color: white;
    color: red;
}

.nav-link{
    color: white;
}

header nav.solid a{
    color: black;
}

header nav.solid a:hover{
    color: #078E8A;
}

/*----------------------BANNER----------------------*/
.banner {
    background-image: url('../imgs/consultorio-banner.jpg');
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    background-attachment: fixed;
}

.mask{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.text-banner {
    position: absolute;
    top: 28%;
    left: 10%;
    color: #fff;
    text-align: left;
}

.buttonWp{
    color: #f8f9fa;
    background: #f8f9fa0d;
    border-width: 1px;
    border-color: #fbfbfb;
}

.buttonWp:hover{
    background: #44b49a;
    border-color: #44b49a;
}

/*----------------------SLIDE----------------------*/
.tratamiento {
    border-bottom: 1px solid white;
    width: 300px;
    margin: auto;
}

.cards {
    background: #44b499;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-slide h3 {
    font-size: 24px;
}

.swiper {
    width: 90%;
    height: 470px;
}

.swiper-slide {
    border-radius: 13px;
    padding: 20px;
    font-size: 18px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next:after, .swiper-button-prev:after {
    color: #44b49a9d;
}

.slide{
    background-color: rgba(231, 125, 125, 0.1);
}

.title-h3{
    text-align: center;
}

/*----------------------BTN WPP----------------------*/
.btn-wpp {
    transition: 0.5s;
    position: fixed;
    width: 65px;
    height: 65px;
    line-height: 68px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
}

.btn-wpp:hover{
    transition: 0.5s;
    text-decoration: none;
    color: #0df053;
    background: #fff;
    animation: headShake infinite;
    animation-duration: 1s;
}

/*----------------------OBRA SOCIAL----------------------*/
.obra-social {
    margin-bottom: 38px;
}

.obra-social > h2{
    border-bottom: 1px solid white;
    width: 280px;
}

img.opacity {
    opacity: 0.5;
    transition: 0.5s;
}

img.opacity:hover {
    opacity: 1;
    transition: 0.5s;
}

/*----------------------COPY----------------------*/
.copy{
    background-color: #078e8a93;
}


/*----------------------TABLET----------------------*/
@media (max-width: 991px) {
    .banner {
        background-size: cover;
        height: 80vh;
    }

    .view-cel{
        margin-top: 30px;
    }

    .obra-social > h2{
        margin: auto;
    }
}

/*----------------------CELULAR----------------------*/
@media (max-width: 600px) {
    .banner {
        background-position-x: center;
    }

    .swiper-slide {
        text-align: center;
    }
}